extends layout

block content
  #editor
  #chat
    #messages
    #messagebox
      textarea#message
  script
    var editor = ace.edit("editor");
    editor.getSession().setUseWorker(false);
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");

    var socket = io.connect('http://collabit-4169.use1.actionbox.io:3000/');

    socket.on('connect', function() {
      socket.emit('adduser', prompt('What is your name?'));
    });

    socket.on('updatechat', function(username, data) {
      $('#messages').append('<b>'+username + ':</b> ' + data + '<br>');
      var elem = document.getElementById('messages');
      elem.scrollTop = elem.scrollHeight;
    });
    
    $(function(){
      var messageBox = $('textarea#message')
      messageBox.keypress(function(e) {
        if(e.which == 13) {
          var message = messageBox.val();
          if (message !== "") {
            messageBox.val('');
            socket.emit('sendchat', message);
          }
          return false;
        }
      });
    });
