doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js")
    script(src="/javascripts/socket.io.js");
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js");
    script(src="/javascripts/bootstrap.min.js");
  body
    .container
      include includes/header
      block content
    
