doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js")
    script(src="/javascripts/socket.io.js");
  body
    block content
