doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/bower_components/chosen/chosen.min.css')
    link(rel='stylesheet', href='/bower_components/gritter/css/jquery.gritter.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- script(src="/bower_components/requirejs/require.js")
    script(src="/bower_components/jquery/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/bower_components/chosen/chosen.jquery.min.js")
    script(src="/bower_components/gritter/js/jquery.gritter.min.js")
  body
    .container
      include includes/header
      block content
    script(src="/bower_components/ace/build/src/ace.js")
    script(src="/bower_components/socket.io-client/dist/socket.io.js")
    script(src="/vendor/share.js/bcsocket.js")
    script(src="/vendor/share.js/share.js")
    script(src="/vendor/share.js/ace.js")
    script(src="/bower_components/blockui/jquery.blockUI.js")

