extends layout

block content
  #editor
  include includes/chat
  #overlay
    span#chat_load_msg
    //- TODO: Make this a less ugly loader
    img#img-load(src='/images/img-load.gif')
    button#btn_join Join Chat
  script
    // Application code
    // ================
    var connected = false;

    $(function() {

      // ACE Editor
      // ===============
      var editor = ace.edit("editor");
      editor.getSession().setUseWorker(false);
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/javascript");

      // Chosen
      // ===============
      $("select#mode").chosen({ width: "180px" })
        .on('change', function () {
          editor.getSession().setMode("ace/mode/" + this.value);
        });

      //- $("select#theme").chosen({ width: "180px" })
      //-   .on('change', function() {
      //-     editor.setTheme("ace/theme/" + this.value);
      //-   });

      // Loading overlay
      // ===============
      $chat = $("#chat"); // CHANGE it to the table's id you have
      $overlay = $("#overlay");
      $img_load = $("#img-load");
      $btn_join = $("#btn_join");
      $chat_load_msg = $("#chat_load_msg");

      $overlay.css({
        opacity : 0.5,
        top     : $chat.offset().top,
        left    : $chat.offset().left,
        height  : $chat.outerHeight(),
        width   : $chat.outerWidth()
      });

      $img_load.css({
        top  : ($chat.height() / 2) - ($img_load.outerHeight() / 2),
        left : ($chat.width() / 2) - ($img_load.outerWidth() / 2)
      });

      $overlay.fadeIn();

      // Share.JS
      // ==============
      sharejs.open('#{session}', 'text', function(error, doc) {
        doc.attach_ace(editor);
      });

      // Socket.IO
      // ==============
      var socket = io.connect("http://" + document.domain + "/chat");

      socket.on('connect', function() {
        if (!connected) {
          console.log("SOCKET: Connection detected.  Emitting 'adduser'");
          connect();
        }
      });

      socket.on('updatechat', function(username, data) {
        console.log('SOCKET: \'updatechat\' emission detected.');
        $('#messages').append('<b>' + username + ':</b> ' + data + '<br>');
        var elem = document.getElementById('messages');
        elem.scrollTop = elem.scrollHeight;
      });

      socket.on('updateusers', function(usernames) {
        console.log('SOCKET: updateusers [' + usernames.join(", ") + ']');
      });

      socket.on('error', function(message) {
        console.log('ERROR: ' + message);
      });

      function connect() {
        var name = get_username();
        if (name !== false) {
          socket.emit('adduser', name, document.URL.substr(-6));
          connected = true;
          $overlay.fadeOut();
        }
        else {
          $img_load.hide();
          $btn_join.css({
            display: "inline",
            top  : ($chat.height() / 2) - ($btn_join.outerHeight() / 2),
            left : ($chat.width() / 2) - ($btn_join.outerWidth() / 2)
          });

          // TODO: Make this less hideous
          $chat_load_msg.text("Empty or invalid username.  Please click Join Chat to try again.");
        }
      }
      
      function send_chat() {
        if (connected) {
          var messageBox = $('textarea#message')
          var message = messageBox.val();
          if (message !== "") {
            messageBox.val('');
            console.log('SOCKET: Send chat command detected.  Emitting \'sendchat\'');
            socket.emit('sendchat', message);
          }
        }
      }

      function get_username() {
        var name = prompt('What is your name?');
        if (name !== "" && name !== null && !name.match(/server/i)) {
          $('textarea#message').removeAttr('disabled');
          return name;
        }
        else {
          return false;
        }

      }

      // Event handlers
      // ==============
      $('textarea#message').keypress(function(e) {
        if(e.which == 13) {
          send_chat();
          return false;
        }
      });

      $('#btn_join').click(function() {
        if (!connected) {
          connect();
        }
      });

    });
