extends layout

block content
  #editor
  include includes/chat
  #overlay
    img#img-load(src='/images/img-load.gif')
  script
    // Application code
    // ================
    var connected = false;

    $(function() {

      // ACE Editor code
      // ===============
      var editor = ace.edit("editor");
      editor.getSession().setUseWorker(false);
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/javascript");

      // Chosen
      // ===============
      $("select#mode").chosen({ width: "180px" })
        .on('change', function () {
          editor.getSession().setMode("ace/mode/" + this.value);
        });

      //- $("select#theme").chosen({ width: "180px" })
      //-   .on('change', function() {
      //-     editor.setTheme("ace/theme/" + this.value);
      //-   });

      // Loading code
      // ==============
      $chat = $("#chat"); // CHANGE it to the table's id you have
      $overlay = $("#overlay");
      $img_load = $("#img-load");

      $overlay.css({
        opacity : 0.5,
        top     : $chat.offset().top,
        left    : $chat.offset().left,
        height  : $chat.outerHeight(),
        width   : $chat.outerWidth()
      });

      $img_load.css({
        top  : ($chat.height() / 2) - ($img_load.outerHeight() / 2),
        left : ($chat.width() / 2) - ($img_load.outerWidth() / 2)
      });

      $overlay.fadeIn();

      // Share.JS code
      // ==============
      sharejs.open('#{session}', 'text', function(error, doc) {
        doc.attach_ace(editor);
      });

      // Socket.IO code
      // ==============
      var socket = io.connect("http://" + document.domain + "/chat");

      socket.on('connect', function() {
        if (!connected) {
          console.log("SOCKET: Connection detected.  Emitting 'adduser'");

          var name = get_username();
          if (name !== false) {
            socket.emit('adduser', name, document.URL.substr(-6));
            connected = true;
            $overlay.fadeOut();
          }
        }
      });

      socket.on('updatechat', function(username, data) {
        console.log('SOCKET: \'updatechat\' emission detected.');
        $('#messages').append('<b>' + username + ':</b> ' + data + '<br>');
        var elem = document.getElementById('messages');
        elem.scrollTop = elem.scrollHeight;
      });

      socket.on('error', function(message) {
        console.log('ERROR: ' + message);
      });
      
      function send_chat() {
        var messageBox = $('textarea#message')
        var message = messageBox.val();
        if (message !== "") {
          messageBox.val('');
          console.log('SOCKET: Send chat command detected.  Emitting \'sendchat\'');
          socket.emit('sendchat', message);
        }
      }

      function get_username() {
        name = prompt('What is your name?');
        if (name !== "") {
          $('textarea#message').removeAttr('disabled');
          return name;
        }
        else {
          return false;
        }

      }

      // Event handlers
      // ==============
      $('textarea#message').keypress(function(e) {
        if(e.which == 13) {
          send_chat();
          return false;
        }
      });

      $('#btn_login').click(function() {
        get_username();
      });

    });
