extends layout

block content
  #editor
  include includes/chat
  #overlay.panel.panel-default
    .panel-heading Please enter your name
    .panel-body
      input#input_uname.form-control(type="text", name="input_uname", placeholder="Enter your name")
      br
      br
      button#btn_cancel.btn.btn-default.pull-left(type="button", value="Cancel") Cancel
      button#btn_submit.btn.btn-info.pull-right(type="button", value="Submit") Submit
  #img-load
    .panel.panel-default
      .panel-heading Loading
      .panel-body
        .progress.progress-striped.active
          .progress-bar.progress-bar-info(style="width: 100%;")
        //- img(src="/images/img-load.gif")
  script(type="text/javascript", src="/javascripts/main.js")
    