extends layout

block content
  #editor
  include includes/chat
  #overlay 
    label(for="input_uname") Please enter your name:
    //- TODO: Make this less ugly
    input#input_uname(type="text", name="input_uname")
    br
    br
    input#btn_cancel(type="button", value="Cancel")
    input#btn_submit(type="button", value="Submit")
  img#img-load(src="/images/img-load.gif")
  script.
    usernames = [];

    $(function() {
      // Cache element selectors
      // ===============
      $chat = $("#chat");
      $editor = $("#editor");
      $img_load = $("#img-load").remove();
      $btn_submit = $("#btn_submit");
      //- $btn_join = $("#btn_join");
      //- $chat_load_msg = $("#chat_load_msg");
      $messages = $("#messages");
      $overlay = $("#overlay");

      $.blockUI({
        message: $img_load
      });

      // Event handlers
      // ==============
      $("#message").keypress(function (e) {
        if(e.which == 13) {
          send_chat();
          return false;
        }
      });

      $("#input_uname").keypress(function (e) {
        if (e.which == 13) {
          $btn_submit.click();
          return false;
        }
      });

      window.onbeforeunload = function () {
        console.log("SOCKET: Leaving Collabit. Emitting 'userleft'");
        socket.emit("userleft");
      };

      // ACE Editor
      // ===============
      var editor = ace.edit("editor");
      editor.getSession().setUseWorker(false);
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/javascript");

      //- $("select#theme").chosen({ width: "180px" })
      //-   .on('change', function() {
      //-     editor.setTheme("ace/theme/" + this.value);
      //-   });

      // Share.JS
      // ==============
      sharejs.open("#{room}", 'text', function(error, doc) {
        doc.attach_ace(editor);
      });

      // Socket.IO
      // ==============
      var socket = io.connect("http://" + document.domain + "/chat");

      socket.on("connect", function() {
        console.log("SOCKET: Connection detected.");

        $.blockUI({
          message: $overlay
        });
        
        $("#btn_submit").click(function () {
          var name = validate_name($("#input_uname").val());

          if (name !== false) {
            socket.emit("adduser", name, document.URL.substr(-6));
            $.blockUI({
              message: $img_load
            });
          }
          else {
            $.gritter.add({
              title: "Error",
              text: "Empty, duplicate, or invalid username.  Please try again.",
              time: 6000,
              sticky: false
            });
          }
          return false;
        });

        $("#btn_cancel").click(function () {
          $.unblockUI();
          $.gritter.add({
            title: "Collaboration Disabled",
            text: "To enable collaboration, refresh the page and enter your name.",
            time: 6000,
            sticky: false
          });
          return false;
        });
      });

      socket.on("updatechat", function(username, message) {
        console.log("SOCKET: 'updatechat' emission detected.");
        write_chat_message(username, tokenize(message));
      });

      socket.on("addusersuccess", function () {
        console.log("SOCKET: 'addusersuccess' emission detected.");
        $.unblockUI();
      });

      socket.on("adduserfail", function (message) {
        $.blockUI({
          message: $overlay
        });

        $.gritter.add({
          title: "Error",
          text: message,
          time: 6000,
          sticky: false
        });
      });

      socket.on("updateusers", function(new_usernames) {
        console.log("SOCKET: updateusers [" + new_usernames.join(", ") + "]");
        usernames = new_usernames;
      });

      socket.on("updatelang", function(lang, username) {
        console.log("SOCKET: updatelang detected. Language changed to " + lang + " by " + username);
        // TODO: Should probably do some validation on this
        $("select#mode").val(lang).trigger("chosen:updated");
        write_chat_message("SERVER", username + " changed the language to " + lang);
      });

      socket.on("error", function(message) {
        console.log('ERROR: ' + message.type);

        $.gritter.add({
          title: "Error",
          text: message,
          sticky: true
        });
      });

      function write_chat_message(username, message) {
        $messages.append('<b>' + username + ':</b> ' + message + '<br>');
        $messages.scrollTop = $messages.scrollHeight;
      }
      
      function send_chat() {
        var messageBox = $('textarea#message')
        var message = messageBox.val();
        if (message !== "") {
          messageBox.val('');
          console.log("SOCKET: Send chat command detected.  Emitting 'sendchat'");
          socket.emit('sendchat', message);
        }
      }

      function validate_name(name) {
        if (typeof name !== "undefined"
            && name !== "" 
            && name !== null 
            && !name.match(/server/i)
            && usernames.indexOf(name) === -1) {
          
          return name;
        }
        else {
          return false;
        }
      }

      function tokenize(message) {
        // Links
        var pat_link = /((((http(s)?|ftp):\/\/)|www\.)\S+\.\S{2,})/ig;
        var rep_link = '<a href="$1">$1</a>';
        message = message.replace(pat_link, rep_link);

        return message;
      }

      // Chosen
      // ===============
      $("select#mode").chosen({ width: "180px" })
        .on('change', function () {
          editor.getSession().setMode("ace/mode/" + this.value);
          socket.emit('changelang', this.value);
        });

    });
