extends layout

block content
  #editor
  //- #chat
  //-   #messages
  //-   #messagebox
  //-     textarea#message(disabled="true")
  script
    // Application code
    // ================
    $(function(){

      // ACE Editor code
      // ===============
      var editor = ace.edit("editor");
      editor.getSession().setUseWorker(false);
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/javascript");

      // Chosen
      // ===============
      $("select#mode").chosen({ width: "180px" })
        .on('change', function () {
          editor.getSession().setMode("ace/mode/" + this.value);
        });

      //- $("select#theme").chosen({ width: "180px" })
      //-   .on('change', function() {
      //-     editor.setTheme("ace/theme/" + this.value);
      //-   });

      // Share.JS code
      // ==============
      sharejs.open('#{session}', 'text', function(error, doc) {
        doc.attach_ace(editor);
      });
      
      // Event handlers
      // ==============

    });
