body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#editor { 
  position: absolute;
  top: 40px;
  right: 0; 
  bottom: 0;
  left: 0;
  width: 70%;
}

#chat {
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  
  width: 30%;
}

#chat #messages {
  /*position: absolute;
  top: 0;
  right: 0;*/
  height: 90%;
  width: 100%;
  padding-left: 3px;
  overflow: scroll;
  /*border-bottom: black solid 2px;*/
}

#chat #messagebox {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10%;
  width: 100%;
  /*border: black solid 2px;*/
}

#chat textarea#message {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  width: 100%;
  height: 100%;
  padding-top: -2px;
}

#chat_load_msg {
  text-align: center;
}

.chosen-container {
  margin-top: 6px;
  margin-left: 6px;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 100%;
  background-color: black;
  /*color: white;*/
}

#header label {
  margin-top: 2px;
  color: white;
}

#header #btn_login {
  float: right;
}

#overlay {
  display: ;
  position: absolute;
  background: #eee;
}

#img-load {
  position:absolute;
}

button#btn_join {
  display: none;
  position: absolute;
}
