body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#editor { 
  position: absolute;
  top: 51px;
  right: 0; 
  bottom: 0;
  left: 0;
  width: 70%;
}

#chat {
  position: absolute;
  top: 51px;
  right: 0;
  bottom: 0;
  
  width: 30%;
}

#chat #user-list {
  height: 10%;
  width: 100%;
  padding-left: 3px;
  overflow: scroll;
}

#chat #messages {
  height: 80%;
  width: 100%;
  padding-left: 3px;
  overflow-y: scroll;
  overflow-x: auto;
}

#chat #messagebox {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10%;
  width: 100%;
}

#chat textarea#message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  
  width: 100%;
  height: 100%;
  padding-top: -2px;
}

#chat_load_msg {
  text-align: center;
}
/*
.chosen-container {
  margin-top: 5px;
}

.chosen-container-single {
  height: 25px;
}
*/
/*
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
}

#header label {
  margin-top: 2px;
  color: white;
}*/

#overlay {
  display: none;
}


/*
#img-load {
  display: none;
}

button#btn_join {
  display: none;
  position: absolute;
}*/
